@import "tailwindcss";


@font-face {
  font-family: 'JetBrains Mono';
  src: url('../public/fonts/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
  padding: 0;
  
}